<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Inbox - Free Bulma template</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Bulma Version 0.6.2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" integrity="sha256-2k1KVsNPRXxZOsXQ8aqcZ9GOOwmJTMoOB5o5Qp1d6/s=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('inbox.css') }}">
</head>
<body>
  <nav class="navbar has-shadow">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
          <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox">
        </a>

        <div class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item has-dropdown">
            <a class="navbar-link">
              Account
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                Dashboard
              </a>
              <a class="navbar-item">
                Profile
              </a>
              <a class="navbar-item">
                Settings
              </a>
              <hr class="navbar-divider">
              <div class="navbar-item">
                Logout
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
<div class="columns" id="mail-app">

  <div class="column is-9 message hero is-fullheight" id="message-pane">

    <!--
    <div class="action-buttons">
      <div class="control is-grouped">
        <a class="button is-small"><i class="fa fa-inbox"></i></a>
        <a class="button is-small"><i class="fa fa-exclamation-circle"></i></a>
        <a class="button is-small"><i class="fa fa-trash-o"></i></a>
      </div>
      <div class="control is-grouped">
        <a class="button is-small"><i class="fa fa-exclamation-circle"></i></a>
        <a class="button is-small"><i class="fa fa-trash-o"></i></a>
      </div>
      <div class="control is-grouped">
        <a class="button is-small"><i class="fa fa-folder"></i></a>
        <a class="button is-small"><i class="fa fa-tag"></i></a>
      </div>
    </div>
    -->

    <div class="box message-preview">
      <div class="top">
        <div class="tags">
          <span class="tag">Label1</span>
          <span class="tag">Label2</span>
        </div>
        <div class="content">
          アメリカ合衆国（アメリカがっしゅうこく、英語: United States of America）、通称アメリカ、米国（べいこく）は、50の州および連邦区から成る連邦共和国である[6][7]。アメリカ本土の48州およびワシントンD.C.は、カナダとメキシコの間の北アメリカ中央に位置する。アラスカ州は北アメリカ北西部の角に位置し、東ではカナダと、西ではベーリング海峡をはさんでロシアと国境を接している。ハワイ州は中部太平洋における島嶼群である。同国は、太平洋およびカリブに5つの有人の海外領土および9つの無人の海外領土を有する。985万平方キロメートル (km2) の総面積は世界第3位または第4位、3億1千7百万人の人口は世界第3位である。同国は世界で最も民族的に多様かつ多文化な国の1つであり、これは多くの国からの大規模な移住の産物とされている[8]。また同国の広大な国土における地理および気候も極めて多様であり、多種多様な野生生物が存在する。
          <br><br>
          米国は先進国かつ世界最大級の国民経済を有する[9]。同国経済は、豊富な天然資源と高い労働者の生産性により支えられている[10]。同国経済は脱工業化社会だとされている一方、世界最大の製造国のうちの1つであり続けている[11]。同国は世界の軍事支出の37％を占め[12]、世界最高位の経済・軍事大国であり、大きな政治・文化的勢力であり、科学研究・技術革新におけるリーダー的存在とされている[13]。
        </div>
      </div>
    </div>
  </div>

  <div class="column is-3 messages hero is-fullheight" id="message-feed">
    <div class="action-buttons">
      <div class="control is-grouped">
        <a class="button is-small"><i class="fa fa-chevron-down"></i></a>
        <a class="button is-small"><i class="fa fa-refresh"></i></a>
      </div>
      <div class="control is-grouped">
        <a class="button is-small"><i class="fa fa-folder"></i></a>
        <a class="button is-small"><i class="fa fa-tag"></i></a>
      </div>
      <div class="control is-grouped pg">
        <div class="title">10 of 1000</div>
        <a class="button is-link"><i class="fa fa-chevron-left"></i></a>
        <a class="button is-link"><i class="fa fa-chevron-right"></i></a>
      </div>
    </div>

    <div class="inbox-messages" id="inbox-messages">
      <div class="tags">
        <span class="tag">One</span>
        <span class="tag">Two</span>
        <span class="tag">Three</span>
        <span class="tag">Four</span>
        <span class="tag">Five</span>
        <span class="tag">Six</span>
        <span class="tag">Seven</span>
        <span class="tag">Eight</span>
        <span class="tag">Nine</span>
        <span class="tag">Ten</span>
        <span class="tag is-info">Eleven</span>
        <span class="tag">Twelve</span>
        <span class="tag">Thirteen</span>
        <span class="tag">Fourteen</span>
        <span class="tag">Fifteen</span>
        <span class="tag">Sixteen</span>
        <span class="tag">Seventeen</span>
        <span class="tag">Eighteen</span>
        <span class="tag">Nineteen</span>
        <span class="tag">Twenty</span>
      </div>
    </div>
  </div>

</div>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma Templates</strong> by <a href="https://github.com/dansup">Daniel Supernault</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/dansup/bulma-templates">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

</body>
</html>