html,
body {
    font-family: 'Open Sans', serif;
    line-height: 1.5;
    height: 100%;
    background-color: #f3f3f3;
}
.aside {
    display: block;
    background-color: #2a2e2f;
    border-right: 1px solid #DEDEDE;
}

.messages {
    display: block;
    background-color: #fff;
    border-right: 1px solid #DEDEDE;
}

.message {
    display: block;
    background-color: #f3f3f3;
}

.aside .main {
    padding: 20px 40px;
    color: #6F7B7E;
}

.aside .title {
    color: #6F7B7E;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.aside .main .item {
    display: flex;
    padding: 10px 0;
    color: #6F7B7E;
}

.aside .main .item.active {
    background-color: #5a5e5f;
    margin: 0 -50px;
    padding-left: 50px;
}

.aside .main .item:active,
.aside .main .item:hover {
    background-color: #5a5e5f;
    margin: 0 -50px;
    padding-left: 50px;
}

.aside .main .icon {
    font-size: 19px;
    padding-right: 30px;
    color: #f3f3f3;
}

.aside .main .name {
    font-size: 15px;
    color: #f3f3f3;
    font-weight: 500;
}

.messages {
    padding: 40px 20px;
}

.message {
    padding: 40px 20px;
}

.progress-bar {
    margin-bottom:20px;
    width: 150px;
}

.pg {
    display: inline-block;
    top: 10px;
}

.is-grouped .button {
    background-image: linear-gradient(#F8F8F8, #F1F1F1);
}

.is-grouped .button .fa {
    font-size: 15px;
    color: #AAAAAA;
}

.inbox-messages {
    margin-top: 60px;
}

.message-preview {
    margin-top: 60px;
}

.inbox-messages .card {
    width: 100%;
}

.inbox-messages strong {
    color: #5D5D5D;
}

.inbox-messages .msg-check {
    padding: 0 20px;
}

.inbox-messages .msg-subject {
    padding: 10px 0;
    color: #5D5D5D;
}

.inbox-messages .msg-attachment {
    float: right;
}

.inbox-messages .msg-snippet {
    padding: 5px 20px 0px 5px;
}

.inbox-messages .msg-subject .fa {
    font-size: 14px;
    padding: 3px 0;
}
.card.active {
    background-color: #F5F5F5;
}

.searchFilter {
    margin-bottom: 20px;    
  }
   .searchFilter.btn {
      display: inline-block;
      font-weight: 400;
      line-height: 1.25;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .5rem 1rem;
      font-size: 16px;
      border-radius: .25rem;
      height: 50px;
      min-width: 20px;
  }
  .searchFilter .btn-secondary {
      color: #373a3c;
      background-color: #fff;
      border: 1px solid #ccc;
  }
  .searchFilter .btn-secondary:hover {
      color: #373a3c;
      background-color: #e6e6e6;
      border-color: #adadad;
  }
  .searchFilter .btn-search {
    background-color: #00aced;
    color: #fff;
    border: 1px solid #00aced;
  }
  .searchFilter .btn-search:hover {
    background-color: #b20a11;
    color: #fff;
    border: 1px solid #b20a11;
  }
  .searchFilter .label-icon {
    display: none;  
  }
  .searchFilter .dropdown-menu .category_filters {
    min-width: 178px;
    width: 100%;
    margin: 15px 0 0 -25px;
  }
  .searchFilter .dropdown-menu-right {
      right: 170px;
      min-width: 175px;
      top: 90%;
  }
  .searchFilter .dropdown-menu .category_filters li {
    list-style-type: none;
    padding: 2px 10px;
    font-size: 18px;
  }
  .searchFilter .dropdown-menu .category_filters label {
    margin-left: 15px;
  }
  @media (min-width: 768px){
    .searchFilter .btn {
      min-width: 172px;  
    }
    .searchFilter .label-icon {
      display: inline-block;  
    }
  }
  @media (max-width: 768px){
    .main-section {
      margin-top: -80px;
    }
    .searchFilter .dropdown-menu-right {
      right: 0px;
    }
  }
  