html,
body {
    font-family: 'Open Sans', serif;
    line-height: 1.5;
    height: 100%;
    background-color: #f3f3f3;
}
.aside {
    display: block;
    background-color: #2a2e2f;
    border-right: 1px solid #DEDEDE;
}

.messages {
    display: block;
    background-color: #fff;
    border-right: 1px solid #DEDEDE;
}

.message {
    display: block;
    background-color: #f3f3f3;
}

.aside .main {
    padding: 20px 40px;
    color: #6F7B7E;
}

.aside .title {
    color: #6F7B7E;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.aside .main .item {
    display: flex;
    padding: 10px 0;
    color: #6F7B7E;
}

.aside .main .item.active {
    background-color: #5a5e5f;
    margin: 0 -50px;
    padding-left: 50px;
}

.aside .main .item:active,
.aside .main .item:hover {
    background-color: #5a5e5f;
    margin: 0 -50px;
    padding-left: 50px;
}

.aside .main .icon {
    font-size: 19px;
    padding-right: 30px;
    color: #f3f3f3;
}

.aside .main .name {
    font-size: 15px;
    color: #f3f3f3;
    font-weight: 500;
}

.messages {
    padding: 40px 20px;
}

.message {
    padding: 40px 20px;
}

.progress-bar {
    margin-bottom:20px;
    width: 150px;
}

.pg {
    display: inline-block;
    top: 10px;
}

.is-grouped .button {
    background-image: linear-gradient(#F8F8F8, #F1F1F1);
}

.is-grouped .button .fa {
    font-size: 15px;
    color: #AAAAAA;
}

.inbox-messages {
    margin-top: 60px;
}

.message-preview {
    margin-top: 60px;
}

.inbox-messages .card {
    width: 100%;
}

.inbox-messages strong {
    color: #5D5D5D;
}

.inbox-messages .msg-check {
    padding: 0 20px;
}

.inbox-messages .msg-subject {
    padding: 10px 0;
    color: #5D5D5D;
}

.inbox-messages .msg-attachment {
    float: right;
}

.inbox-messages .msg-snippet {
    padding: 5px 20px 0px 5px;
}

.inbox-messages .msg-subject .fa {
    font-size: 14px;
    padding: 3px 0;
}
.card.active {
    background-color: #F5F5F5;
}
