[report]
omit =
  backend/app/wsgi.py
  backend/classifier/*
  backend/server/migrations/*
  backend/server/templatetags/*
  backend/server/tests/*
  backend/api/migrations/*
  backend/api/tests/*
  backend/authentification/tests/*
  backend/authentification/templatetags/*

exclude_lines =
  pragma: no cover
  if __name__ == .__main__.
  def __str__
  raise NotImplementedError

fail_under = 90
