[report]
omit =
  app/app/wsgi.py
  app/classifier/*
  app/server/migrations/*
  app/server/templatetags/*
  app/server/tests/*
  app/api/migrations/*
  app/api/tests/*
  app/authentification/tests/*
  app/authentification/templatetags/*

exclude_lines =
  pragma: no cover
  if __name__ == .__main__.
  def __str__
  raise NotImplementedError

fail_under = 90
