*
!backend/
!frontend/
!docker/nginx/
!tests/
!tools/
!Dockerfile
!Pipfile.lock
!Pipfile

backend/*.sqlite3*
backend/junitxml
backend/media
backend/filepond-temp-uploads
backend/stored_uploads
backend/staticfiles
backend/venv
backend/**/__pycache__/
tests/**/__pycache__/

frontend/.nuxt/
frontend/coverage/
frontend/dist/
frontend/node_modules/
