*
!app/
!frontend/
!nginx/
!tests/
!tools/
!.coveragerc
!.flake8
!Dockerfile
!Pipfile.lock
!Pipfile

app/**/bundle/
app/**/node_modules/
app/**/webpack-stats.json

app/**/*.sqlite3
app/**/.env
app/**/junitxml/
app/**/staticfiles/
app/**/venv/
app/**/__pycache__/
tests/**/__pycache__/

frontend/.nuxt/
frontend/coverage/
frontend/dist/
frontend/node_modules/
