*
!backend/
!frontend/
!nginx/
!tests/
!tools/
!.coveragerc
!.flake8
!Dockerfile
!Pipfile.lock
!Pipfile

backend/**/bundle/
backend/**/node_modules/
backend/**/webpack-stats.json

backend/**/*.sqlite3
backend/**/.env
backend/**/junitxml/
backend/**/staticfiles/
backend/**/venv/
backend/**/__pycache__/
tests/**/__pycache__/

frontend/.nuxt/
frontend/coverage/
frontend/dist/
frontend/node_modules/
