language: python
python:
  - "3.6"
install:
  - pip install -r requirements.txt
script:
  - python app/manage.py migrate
  - python app/manage.py collectstatic
  - python app/manage.py test server.tests
