include backend/manage.py
include backend/requirements.txt
include README.md
exclude *.yml
exclude *.yaml

graft backend/staticfiles
graft backend/client
graft backend/doccano

prune backend/staticfiles/bundle
prune backend/staticfiles/assets
prune backend/staticfiles/components
prune backend/server/static
prune frontend
prune docs
prune nginx
prune tools
global-exclude *.pyc
