[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
model-mommy = "*"
unittest-xml-reporting = "*"
vcrpy = "*"
vcrpy-unittest = "*"
coverage = "*"
flake8 = "*"
isort = "*"
pytest = "*"
autopep8 = "*"
pytest-cov = "*"
mypy = "*"
watchdog = "*"
argh = "*"
black = "*"
pyproject-flake8 = "*"
types-chardet = "*"
types-requests = "*"
types-waitress = "*"

[packages]
django = "~=3.2"
django-heroku = "*"
environs = "*"
furl = "*"
djangorestframework = "*"
django-filter = "*"
social-auth-app-django = "*"
django-polymorphic = "*"
django-cors-headers = "*"
drf-yasg = "*"
djangorestframework-xml = "*"
apache-libcloud = "*"
djangorestframework-csv = "*"
django-rest-polymorphic = "*"
conllu = "*"
chardet = "*"
colour = "*"
pyexcel = "*"
seqeval = "*"
whitenoise = "*"
dj-database-url = "*"
python-jose = "*"
pyexcel-xlsx = "*"
lockfile = "*"
gunicorn = "*"
fasteners = "*"
auto-labeling-pipeline = "*"
dj-rest-auth = "*"
django-drf-filepond = "*"
celery = "~=5.2"
django-celery-results = "*"
sqlalchemy = "*"
waitress = "*"
django-health-check = "*"

[requires]
python_version = "3.8"

[scripts]
isort = "isort api -c --skip migrations"
flake8 = "pflake8 --filename \"*.py\" --extend-exclude \"*/migrations\""
black = "black --check ."
mypy = "mypy ."
wait_for_db = "python manage.py wait_for_db"
test = "python manage.py test --pattern=\"test*.py\""
migrate = "python manage.py migrate"
collectstatic = "python manage.py collectstatic --noinput"
