[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
model-mommy = "*"
unittest-xml-reporting = "*"
vcrpy = "*"
vcrpy-unittest = "*"
coverage = "*"
flake8 = "*"
isort = "*"
pytest = "*"
autopep8 = "*"
pytest-cov = "*"
mypy = "*"
watchdog = "*"
argh = "*"

[packages]
django = "*"
django-heroku = "*"
environs = "*"
furl = "*"
djangorestframework = "*"
django-filter = "*"
social-auth-app-django = "*"
django-polymorphic = "*"
django-cors-headers = "*"
drf-yasg = "*"
djangorestframework-xml = "*"
apache-libcloud = "*"
djangorestframework-csv = "*"
django-rest-polymorphic = "*"
conllu = "*"
chardet = "*"
colour = "*"
pyexcel = "*"
seqeval = "*"
whitenoise = "*"
dj-database-url = "*"
python-jose = "*"
pyexcel-xlsx = "*"
lockfile = "*"
gunicorn = "*"
fasteners = "*"
auto-labeling-pipeline = "*"
dj-rest-auth = "*"
django-drf-filepond = "*"
celery = "*"
django-celery-results = "*"
sqlalchemy = "*"

[requires]
python_version = "3.8"

[scripts]
isort = "isort api -c --skip migrations"
flake8 = "flake8 --filename \"*.py\" --extend-exclude \"server,api/migrations,api/views/__init__.py,authentification,api/apps.py\""
wait_for_db = "python manage.py wait_for_db"
test = "python manage.py test api.tests"
migrate = "python manage.py migrate"
collectstatic = "python manage.py collectstatic --noinput"
