{% extends "admin/admin_base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block content-area %}
<div class="columns">
  <div class="column is-12">

    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          File Uploader
        </p>
      </header>
      <div class="card-content">
        <h2 class="subtitle">Upload a file to annotate text.</h2>

        <div class="control">
          <label class="radio">
            <input type="radio" name="format" value="plain" :checked="format=='plain'" v-model="format">
            Plain
          </label>
          {% block select-format-area %}{% endblock %}
        </div>

        {% block example-format-area %}{% endblock %}

        <div class="control">
          <div class="file has-name is-primary">
            <label class="file-label">
              <input class="file-input" type="file" ref="file" name="file" required v-on:change="upload()">
              <span class="file-cta button" v-bind:class="{'is-loading': isLoading}">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Select a file…
                </span>
              </span>
              <span class="file-name">
                [[ file.name ]]
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
{% render_bundle 'upload' 'js' %}
{% endblock %}