{% extends "admin/upload/base.html" %}
{% load static %}
{% block select-format-area %}
<label class="radio">
  <input type="radio" name="format" value="csv" :checked="format=='csv'" v-model="format">
  CSV
</label>
<label class="radio">
  <input type="radio" name="format" value="json" :checked="format=='json'" v-model="format">
  JSONL
</label>
{% endblock %}

{% block example-format-area %}
<pre v-show="format=='plain'" class="code-block">
  <code class="csv">
    Hello!
    Good morning.
    See you.
    ...
  </code>
</pre>
<pre v-show="format=='csv'" class="code-block">
  <code class="csv">
    text,label
    "Hello!","こんにちは！"
    "Good morning.","おはようございます。"
    "See you.","さようなら。"
    ...
  </code>
</pre>
<pre v-show="format=='json'" class="code-block">
  <code class="json">
    {"text": "Hello!", "labels": ["こんにちは！"]}
    {"text": "Good morning.", "labels": ["おはようございます。"]}
    {"text": "See you.", "labels": ["さようなら。"]}
    ...
  </code>
</pre>
{% endblock %}