{% extends "admin/upload/base.html" %}
{% load static %}
{% block select-format-area %}
<label class="radio">
  <input type="radio" name="format" value="conll" :checked="format=='conll'" v-model="format">
  CoNLL
</label>
<label class="radio">
  <input type="radio" name="format" value="json" :checked="format=='json'" v-model="format">
  JSONL
</label>
{% endblock %}

{% block example-format-area %}
<pre v-show="format=='plain'" class="code-block">
  <code class="csv">
    EU rejects German call to boycott British lamb.
    Peter Blackburn
    President Obama
    ...
  </code>
</pre>
<pre v-show="format=='conll'" class="code-block">
  <code class="csv">
    EU	B-ORG
    rejects	O
    German	B-MISC
    call	O
    to	O
    boycott	O
    British	B-MISC
    lamb	O
    .	O

    Peter	B-PER
    Blackburn	I-PER
    ...
  </code>
</pre>
<pre v-show="format=='json'" class="code-block">
  <code class="json">
    {"text": "EU rejects German call to boycott British lamb.", "labels": [ [0, 2, "ORG"], [11, 17, "MISC"], ... ]}
    {"text": "Peter Blackburn", "labels": [ [0, 15, "PERSON"] ]}
    {"text": "President Obama", "labels": [ [10, 15, "PERSON"] ]}
    ...
  </code>
</pre>
{% endblock %}