{% extends "admin/upload/base.html" %}
{% load static %}
{% block select-format-area %}
<label class="radio">
  <input type="radio" name="format" value="csv" :checked="format=='csv'" v-model="format">
  CSV
</label>
<label class="radio">
  <input type="radio" name="format" value="json" :checked="format=='json'" v-model="format">
  JSONL
</label>
{% endblock %}

{% block example-format-area %}
<pre v-show="format=='plain'" class="code-block">
  <code class="csv">
    Terrible customer service.
    Really great transaction.
    Great price.
    ...
  </code>
</pre>
<pre v-show="format=='csv'" class="code-block">
  <code class="csv">
    text,label
    "Terrible customer service.","negative"
    "Really great transaction.","positive"
    "Great price.","positive"
    ...
  </code>
</pre>
<pre v-show="format=='json'" class="code-block">
  <code class="json">
    {"text": "Terrible customer service.", "labels": ["negative"]}
    {"text": "Really great transaction.", "labels": ["positive"]}
    {"text": "Great price.", "labels": ["positive"]}
    ...
  </code>
</pre>
{% endblock %}