html,
body {
  /*font-family: arial, 'Open Sans', serif;*/
  /*line-height: 1.5;
  height: 100%;*/
  background-color: #f3f3f3;
}

.aside {
  display: block;
  background-color: #2a2e2f;
  border-right: 1px solid #DEDEDE;
}

.scrollable {
  max-height: 60vh;
  overflow-y: auto;
}

.sidebar-scrollable {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.messages {
  display: block;
  background-color: #fff;
  border-right: 1px solid #DEDEDE;
}

.message {
  display: block;
  background-color: #f3f3f3;
}

.aside .main {
  padding: 20px 40px;
  color: #6F7B7E;
}

.aside .title {
  color: #6F7B7E;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.aside .main .item {
  display: flex;
  /*padding: 10px 0;*/
  padding: 10px 20px 10px 40px;
  margin: 0 -50px;
  color: #6F7B7E;
}

.aside .main .item.active {
  background-color: #5a5e5f;
  margin: 0 -50px;
  /*padding-left: 50px;*/
  padding-left: 40px;
}

.aside .main .item:active,
.aside .main .item:hover {
  background-color: #5a5e5f;
  margin: 0 -50px;
  /*padding-left: 50px;*/
  padding-left: 40px;
}

.aside .main .icon {
  font-size: 19px;
  padding-right: 30px;
  color: #f3f3f3;
}

.aside .main .name {
  font-size: 15px;
  color: #f3f3f3;
  font-weight: 500;
}

.messages {
  padding: 40px 20px;
}

.message {
  padding: 40px 20px;
}

.pg {
  display: inline-block;
  top: 10px;
}

.is-grouped .button {
  background-image: linear-gradient(#F8F8F8, #F1F1F1);
}

.is-grouped .button .fa {
  font-size: 15px;
  color: #AAAAAA;
}

.inbox-messages {
  margin-top: 60px;
}

.message-preview {
  margin-top: 60px;
}

.inbox-messages .card {
  width: 100%;
}

.inbox-messages strong {
  color: #5D5D5D;
}

.inbox-messages .msg-check {
  padding: 0 20px;
}

.inbox-messages .msg-subject {
  padding: 10px 0;
  color: #5D5D5D;
}

.inbox-messages .msg-attachment {
  float: right;
}

.inbox-messages .msg-snippet {
  padding: 5px 20px 0px 5px;
}

.inbox-messages .msg-subject .fa {
  font-size: 14px;
  padding: 3px 0;
}

.card.active {
  background-color: #F5F5F5;
}

.content {
  font-size: 16pt;
  line-height: 250%;
}

.content .tag {
  font-size: 16pt;
  height: 1.5em;
  padding-left: .5em;
  padding-right: .5em;
}

.content .text {
  white-space: pre-wrap; /* Rendering newlines for classification and seq2seq tasks */
}

.content .text-sequence {
  white-space: normal; /* Not render newlines for sequence labelling */
  height: auto;
}

:focus {
  outline: 0;
}

.hidden {
  display: none;
}

.todoapp {
  background: #fff;
  margin: 30px 0 0 0;
  position: relative;
  box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1)
}

.todoapp input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.new-todo,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 16pt;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new-todo {
  padding: 1.5rem;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-list li {
  position: relative;
  font-size: 16pt;
  border-bottom: 1px solid #ededed;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li.editing {
  border-bottom: none;
  padding: 0;
}

.todo-list li.editing .edit {
  display: block;
  padding: 12px 16px;
}

.todo-list li.editing .view {
  display: none;
}

.todo-list li label {
  word-break: break-all;
  padding: 1.5rem 60px 1.5rem 1.5rem;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

.todo-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto 0;
}

.todo-list li:hover .destroy {
  display: block;
}

.todo-list li .edit {
  display: none;
}

.todo-list li.editing:last-child {
  margin-bottom: -1px;
}

.modal-card-body-footer {
  border-bottom: 1px solid #dbdbdb;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.is-vertical-center {
  align-items: center;
}

[v-cloak] { display: none; }
