{% extends "base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/annotation.css' %}">
{% endblock %}

{% block content %}
<div class="columns" id="mail-app">
    <aside class="column is-3 aside hero is-fullheight">
        <div>
            <div class="main">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" placeholder="Search document" v-model="searchQuery" @keyup.enter="submit" style="border-right:none;box-shadow: none;-webkit-box-shadow: none;">
                    </div>
                </div>
            </div>

            <div class="main">
                <a href="#" class="item"
                   v-for="(msg, index) in items"
                   v-bind:class="{ active: index == cur }"
                   v-on:click="showMessage(index)"
                   v-bind:data-preview-id="index">
                    <span class="icon">
                        <i class="fa fa-check" v-if="msg.labels.length"></i>
                    </span>
                    <span class="name">[[ msg.text.slice(0, 40) ]]...</span>
                </a>
            </div>
        </div>
    </aside>
    <div class="column is-7 is-offset-1 message hero is-fullheight" id="message-pane">

        <div class="progress-bar">
            <progress class="progress" v-bind:class="progressColor" v-bind:value="achievement" max="100">30%</progress>
        </div>

        {% block annotation-area %}
        {% endblock %}

        <div class="level" style="margin-top:30px;">
            <a class="button level-left" v-on:click="prevPage" v-shortkey="['ctrl', 'p']" @shortkey="prevPage">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Prev</span>
            </a>

            <a class="button level-right" v-on:click="nextPage" v-shortkey="['ctrl', 'n']" @shortkey="nextPage">
                <span>Next</span>
                <span class="icon">
                    <i class="fas fa-chevron-right"></i>
                </span>
            </a>
        </div>

    </div>
</div>
{% endblock %}