{% extends "annotation/annotation_base.html" %}
{% load static %}

{% block annotation-area %}
<div class="card">
    <header class="card-header">
        <div class="card-header-title tags" style="padding:1.5rem;">
            <a class="tag"
               v-for="label in labels"
               v-bind:style="{ color: label.text_color, backgroundColor: label.background_color }"
               v-on:click="annotate(label.id)">
               [[ label.text ]]
            </a>
        </div>
    </header>
    <div class="card-content">
        <div class="content">
            <annotator ref="annotator" v-bind:labels="labels" v-bind:entity-positions="items[cur].labels.slice()" v-bind:text="items[cur].text" @delete-label="deleteLabel"></annotator>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'sequence_labeling.js' %}"></script>
{% endblock %}