{% extends "annotation/annotation_base.html" %}
{% load static %}
{% block annotation-area %}

<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<!-- wavesurfer.js -->
<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js"></script>
<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.minimap.min.js"></script>
<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.timeline.min.js"></script>


<p id="subtitle" class="text-center text-info">&nbsp;</p>

<!-- audio --> 
<div id="wave-timeline"></div>


<div class="content" v-if="docs[pageNumber]">
<div id="waveform" ref="waveform"></div>
</div>

<div class="row" style="margin: 30px 0">
	<div class="col-sm-8">
	    <p>
	        Click on a region to enter an annotation.<br />
	        Shift-click plays a region in a loop. <br/>
	        Click on Done to save the annotations.
	    </p>
	</div>

	<div class="col-sm-2">
	    <button class="btn btn-primary btn-block" @click="togglePlayPause">
	        <span id="play">
	            <i class="glyphicon glyphicon-play"></i>
	            Play
	        </span>

	        <span id="pause" style="display: none">
	            <i class="glyphicon glyphicon-pause"></i>
	            Pause
	        </span>
	    </button>
	</div>

	<div class="col-sm-2">
	<a style="text-decoration:none" href="{% url 'dataset' view.kwargs.project_id %}">
		<button class="btn btn-info btn-block" @click="saveAnnotations">
			<span >
				<i class="glyphicon glyphicon-floppy-disk"></i>
				Done
			</span>
		</button>
	</a>
	</div>

</div>

<br><br><br>
 
<form role="form" name="edit" style="opacity: 0; transition: opacity 300ms linear; margin: 30px 0;">
<div class="form-group">
    <label for="start">Start</label>
    <input class="form-control" id="start" name="start" />
</div>

<div class="form-group">
    <label for="end">End</label>
    <input class="form-control" id="end" name="end" />
</div>

<div class="form-group">
    <label for="note">Note</label>
    <textarea ref="note" id="note" class="form-control" rows="3" name="note"></textarea>
</div>

<button type="submit" class="btn btn-success btn-block">Save</button>
<center><i>or</i></center>
<button type="button" class="btn btn-danger btn-block" @click="deleteRegion">Delete</button>
</form>


{% endblock %}
{% block footer %}
<script src="{% static 'bundle/speech2text.js' %}"></script>


{% endblock %}