{% extends "admin/admin_base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block content-area %}
<div class="columns">
  <div class="column is-12">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          File Downloader
        </p>
      </header>
      <div class="card-content">
        <h2 class="subtitle">Download labeled data.</h2>

        <div class="control">
          {% block select-format-area %}{% endblock %}
        </div>
        {% block example-format-area %}{% endblock %}
        <button type="submit" class="button is-primary" @click="download()">Download</button>

      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
{% render_bundle 'upload' 'js' %}
{% endblock %}