{% extends "admin/download/base.html" %}
{% load static %}
{% block select-format-area %}
<label class="radio">
  <input type="radio" name="format" value="csv" :checked="format=='csv'" v-model="format">
  CSV
</label>
<label class="radio">
  <input type="radio" name="format" value="json" :checked="format=='json'" v-model="format">
  JSONL
</label>
{% endblock %}

{% block example-format-area %}
<pre v-show="format=='csv'" class="code-block">
  <code class="csv">
    id,text,label,user
    1,"Terrible customer service.",1,1
    2,"Really great transaction.",2,1
    3,"Great price.",2,1
    ...
  </code>
</pre>
<pre v-show="format=='json'" class="code-block">
  <code class="json">
    {"id": 1, "text": "Terrible customer service.", "annotations": [{"id": 1, "label": 1, "user": 1}]}
    {"id": 2, "text": "Really great transaction.", "annotations": [{"id": 2, "label": 2, "user": 1}]}
    {"id": 3, "text": "Great price.", "annotations": [{"id": 3, "label": 2, "user": 1}]}
    ...
  </code>
</pre>
{% endblock %}