{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forum - Free Bulma template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.6.2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" integrity="sha256-2k1KVsNPRXxZOsXQ8aqcZ9GOOwmJTMoOB5o5Qp1d6/s=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'forum.css' %}">
      <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

  </head>
  <body>
    <nav class="navbar is-white">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <img src="{% static 'images/logo.png' %}" width="40" height="48">doccano
          </a>
        </div>
        <div id="topNav" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a class="button is-small">
                    <span class="icon">
                      <i class="fa fa-user-plus"></i>
                    </span>
                    <span>
                      Register
                    </span>
                  </a>
                </p>
                <p class="control">
                  <a class="button is-small is-primary is-outlined">
                    <span class="icon">
                      <i class="fa fa-user"></i>
                    </span>
                    <span>Login</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="container" id="app">
      <div class="columns">

        <div class="column is-8">
          <div class="box content">
              <div class="tabs is-right">
                  <ul>
                      <li class="is-active"><a>Document</a></li>
                      <li><a>Guidelilne</a></li>
                  </ul>
              </div>
            <article class="post">
              <h4>
                  <div class="field is-grouped is-grouped-multiline">
                      <div class="control" v-for="(label, index) in items[cur].labels">
                          <div class="tags has-addons">
                              <span class="tag is-grey">
                                  <button class="delete is-small" v-on:click="deleteLabel(index)"></button>
                                  [[label.text]]
                              </span>
                              <span class="tag is-primary" v-if="label.prob">[[label.prob]]</span>
                          </div>
                      </div>
                  </div>
              </h4>
              <div class="media">
                <div class="media-content">
                  <div class="content">
                      <p>
                          [[items[cur].text]]
                      </p>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>

        <div class="column is-4">

          <div class="box content">

              <div class="tabs is-right">
                  <ul>
                      <li class="is-active"><a>Labeling</a></li>
                      <li><a>History</a></li>
                  </ul>
              </div>

              <div class="control">
                  <a class="button is-link" v-on:click="prevPage"><i class="fa fa-chevron-left"></i></a>
                  <a class="button is-link" v-on:click="nextPage"><i class="fa fa-chevron-right"></i></a>
              </div>

              <a class="button is-primary is-block" href="#">Learn & Classify</a>

          <aside class="menu">
            <p class="menu-label">
              Tags
            </p>
            <div class="tags">
                <a class="tag is-grey" v-for="label in labels" v-on:click="addLabel(label)">[[label]]</a>
            </div>
          </aside>
        </div>
        </div>

      </div>
    </section>
    <script async type="text/javascript" src="{% static 'bulma.js' %}"></script>
    <script type="text/javascript" src="{% static 'main.js' %}">
  </script>
  </body>
</html>