{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forum - Free Bulma template</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.6.2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" integrity="sha256-2k1KVsNPRXxZOsXQ8aqcZ9GOOwmJTMoOB5o5Qp1d6/s="
        crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'forum.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <nav class="navbar is-white">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="../">
                    <img src="{% static 'images/logo.png' %}" width="40" height="48">doccano
                </a>
            </div>
            <div id="topNav" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-small">
                                    <span class="icon">
                                        <i class="fa fa-user-plus"></i>
                                    </span>
                                    <span>
                                        Register
                                    </span>
                                </a>
                            </p>
                            <p class="control">
                                <a class="button is-small is-primary is-outlined">
                                    <span class="icon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <span>Login</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="container" id="root">
        <div class="columns">

            <div class="column is-8">
                <tabs>
                    <tab name="Document" :selected="true">
                        <div class="box content">
                            <article class="post">
                                <h4>
                                    <div class="field is-grouped is-grouped-multiline">
                                        <div class="control" v-for="(label, index) in items[cur].labels">
                                            <div class="tags has-addons">
                                                <span class="tag is-grey">
                                                    <button class="delete is-small" v-on:click="deleteLabel(index)"></button>
                                                    [[label.text]]
                                                </span>
                                                <span class="tag is-primary" v-if="label.prob">[[label.prob]]</span>
                                            </div>
                                        </div>
                                    </div>
                                </h4>
                                <div class="media">
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                [[ items[cur]['text'] ]]
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="is-clearfix	">
                                <div class="buttons has-addons is-left is-pulled-left">
                                    <a class="button is-small" v-on:click="prevPage">
                                        <span class="icon">
                                            <i class="fas fa-chevron-circle-left"></i>
                                        </span>
                                        <span>Prev</span>
                                    </a>
                                </div>
                                <div class="buttons has-addons is-right">
                                    <a class="button is-small" v-on:click="nextPage">
                                        <span>Next</span>
                                        <span class="icon">
                                            <i class="fas fa-chevron-circle-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                    </tab>

                    <tab name="Guideline">
                        <div class="box content">
                            <article class="post">
                                <h4>
                                    Annotation Guideline
                                </h4>
                                <div class="media">
                                    <div class="media-content">
                                        <div class="content">
                                            <p role="textbox" contenteditable="true">
                                                [[ guideline ]]
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </tab>

                </tabs>
            </div>


            <div class="column is-4">
                <tabs>
                    <tab name="Annotation" :selected="true">
                        <div class="box content">

                            <aside class="menu" style="padding-top:0rem;">
                                <p class="menu-label" style="padding-left:0;">
                                    Active Learning
                                </p>
                                <p>
                                    <a class="button is-primary is-small" v-on:click="activeLearn"><b>Do It!</b></a>
                                </p>
                            </aside>

                            <aside class="menu" style="padding-top:1rem;">
                                <p class="menu-label" style="padding-left:0;">
                                    Progress
                                </p>
                                <p>
                                    <a class="button is-info is-small" style="height:1.5em;">[[ total ]] in set</a>
                                    <a class="button is-success is-small" style="height:1.5em;">[[ done ]] done</a>
                                    <a class="button is-danger is-small" style="height:1.5em;">[[ remaining ]] remaining</a>
                                </p>
                            </aside>

                            <aside class="menu" style="padding-top:1rem;">
                                <p class="menu-label" style="padding-left:0;">
                                    Tags
                                </p>
                                <div class="tags">
                                    <a class="tag is-grey" v-for="label in labels" v-on:click="addLabel(label.text)">[[label.text]]</a>
                                </div>
                            </aside>
                        </div>
                    </tab>

                    <tab name="History">
                        <div class="box content">
                            <div class="field">
                                <label class="label">Search</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Text input">
                                </div>
                            </div>
                            <div class="card" v-for="item in items.slice(0, cur)">
                                <div class="card-content">
                                    <div class="content">
                                        <p>
                                            [[ item['text'] ]]
                                        </p>
                                        <div class="tags">
                                            <a class="tag is-grey" v-for="label in item.labels">[[ label.text ]]</a>
                                            <!--<a class="tag is-grey">Label2</a>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabs>

            </div>

        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script type="text/javascript" src="{% static 'annotation.js' %}"></script>
</body>

</html>