{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>doccano - Document Annotation Tool</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.6.2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" integrity="sha256-2k1KVsNPRXxZOsXQ8aqcZ9GOOwmJTMoOB5o5Qp1d6/s="
        crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'forum.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% block header %}{% endblock %}
</head>

<body>
    <nav class="navbar is-white has-shadow">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'index' %}">
                    <img src="{% static 'images/logo.png' %}" width="40" height="48">doccano
                </a>
            </div>
            <div id="topNav" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="{% url 'index' %}">Home</a>
                    <a class="navbar-item" href="hoge.html">Live Demo</a>
                    <a class="navbar-item" href="https://github.com/chakki-works/doccano">
                        <span class="icon is-small">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>&nbsp;GitHub</span>
                    </a>
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                {% if use.is_authenticated %}
                                <a class="button is-small is-primary is-outlined" href="{% url 'login' %}">
                                    <span class="icon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <span>Login</span>
                                </a>
                                {% else %}
                                <a class="button is-small is-outlined" href="{% url 'logout' %}">
                                    <span class="icon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <span>Logout</span>
                                </a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% block content %} {% endblock %}



</body>

</html>