{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="container" id="root">
    <div class="columns">

        <div class="column is-12">
            <div class="box content">
                <article class="post">
                    <h4>{{ object.name }}</h4>
                    <div class="media">
                        <div class="media-left">
                            <p class="image is-32x32">
                                <img src="http://bulma.io/images/placeholders/128x128.png">
                            </p>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>{{ object.description|truncatechars:200 }}</p>
                                <p>Data Upload, Label definition</p>
                                <p>
                                    <a href="#">@jsmith</a> created at {{ object.created_at|date }} &nbsp;
                                    <span class="tag">Question</span>
                                </p>
                            </div>
                        </div>
                        <div class="media-right">
                            <span class="has-text-grey-light">
                                <i class="fa fa-comments"></i> 1</span>
                        </div>
                    </div>
                </article>
            </div>
        </div>

    </div>
</section>
{% endblock %}