{% extends 'base.html' %}

{% block content %}
  <div class="hero-body">
    <div class="container" style="max-width:600px">
      <div class="card is-shady">
        {% block content_auth %}{% endblock %}
        <!-- <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Language independent</h4>
            <p>doccano is independent on any languages. You can annotate texts regardless of your languages. You can quickly start annotating text.</p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
{% endblock %}
