{% extends "admin/admin_base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}
{% block content-area %}
<div id="editor" class="columns is-gapless">
  <div class="column is-6">
    <textarea class="editorMarkdown_textarea" :value="input" @input="update"></textarea>
  </div>
  <div class="column is-6 has-background-white" style="border-right: 1px solid #dbdbdb;border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb">
    <div class="content" style="line-height: 150%;padding: 20px;">
      <div v-html="compiledMarkdown"></div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
<script src="https://unpkg.com/marked@0.3.6"></script>
<script src="https://unpkg.com/lodash@4.16.0"></script>
<script src="{% static 'bundle/guideline.js' %}"></script>
{% endblock %}