{% extends "admin/admin_base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}
{% block content-area %}
<div id="editor" class="columns is-gapless">
  <div class="column is-6">
    <textarea class="editorMarkdown_textarea" :value="input" v-debounce="update"></textarea>
  </div>
  <div class="column is-6 has-background-white" style="border-right: 1px solid #dbdbdb;border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb">
    <div class="content pt20 pb20 pr20 pl20" style="line-height: 150%">
      <div v-html="compiledMarkdown"></div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
{% render_bundle 'guideline' 'js' %}
{% endblock %}