{% extends "admin/admin_base.html" %}
{% load static %}
{% block content-area %}

<div class="card">
  <header class="card-header">
    <div class="card-header-title">
        <h1 class="title">
            Labelers
        </h1>
    </div>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>

  <div class="card-content">
      <p>
          The dataset currently has [[num_truth_annotations]] annotations uploaded as ground truth.
      </p>
      <table class="table is-striped is-hoverable">
          <thead>
              <tr>
                  <th>User id</th>
                  <th>Name</th>
                  <th>Last annotation</th>
                  <th># of annotations made</th>
                  <th>Agreement with truth</th>
                  <th>% Agreement with other labelers</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="(user, index) in labelers" :key="index">
                  <td><a title="Click to view user details" @click="goToUser(user)">[[ user.id ]]</a></td>
                  <td><a href="mailto:{user.email}" title="{user.email}">[[ user.name ]]</a></td>
                  <td>[[ user.last_annotation | parseDate ]]</td>
                  <td>[[ user.num_annotations ]]</td>
                  <td>[[ user.agreement_with_truth | toPercent ]]</td>
                  <td>[[ user.average_kappa_agreement | toPercent ]]</td>
              </tr>
          </tbody>
      </table>

      <h5 class="title is-5">
          Inter-rater Agreement using Cohen's Kappa:
      </h5>
      <p class="subtitle is-6">
          This matrix shows the level of agreement between the different labelers, <em>corrected for chance</em>. A value of 0 means an agreement expected at random, 1 means full agreement and -1 means full disagreement.
      </p>
      <img v-if="matrix" :src="matrixSrc"/>
  </div>
</div>
{% endblock %}
{% block footer %}
<script src="{% static 'bundle/labelers.js' %}"></script>
{% endblock %}