{% extends "admin/admin_base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block content-area %}

<div class="columns is-multiline">
  <div class="column is-12">
    <a class="button is-primary" @click="createLabel()">
      New label
    </a>
  </div>
  <div class="column is-12" v-if="newLabel">
    <div class="box">
      <div class="columns is-multiline">

        <div class="column is-12">
          <div class="tags has-addons mb0">
            <span class="tag is-medium"
              v-bind:style="{ color: newLabel.text_color, 'background-color': newLabel.background_color }">
              [[ newLabel.text ]]
            </span>
            <span class="tag is-medium">
              <kbd>
                [[ shortcutKey(newLabel) | simpleShortcut ]]
              </kbd>
            </span>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <label class="label">Label name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Text input" v-model="newLabel.text">
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <label class="label">Shortcut</label>
            <div class="field has-addons">
              <p class="control">
                <span class="select">
                  <select v-model="newLabel.prefix_key">
                    <option value=""></option>
                    <option value="ctrl">Ctrl</option>
                    <option value="shift">Shift</option>
                    <option value="ctrl shift">Ctrl + Shift</option>
                  </select>
                </span>
              </p>
              <div class="control">
                <div class="select">
                  <select v-model="newLabel.suffix_key">
                    <option disabled value="">key</option>
                    {% for ch in 'abcdefghijklmnopqrstuvwxyz' %}
                    <option>{{ ch }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <label class="label">Color</label>
            <div class="field has-addons">
              <div class="control">
                <a class="button"
                  v-bind:style="{ color: newLabel.text_color, 'background-color': newLabel.background_color }"
                  @click="setColor(newLabel)">
                  <span class="icon is-small">
                    <i class="fas fa-sync-alt"></i>
                  </span>
                </a>
              </div>
              <div class="control is-expanded">
                <input class="input" type="text" placeholder="Text input" v-model="newLabel.background_color">
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <label class="label">&nbsp;</label>
            <div class="field is-grouped">
              <p class="control">
                <a class="button is-light" @click="cancelCreate()">
                  Cancel
                </a>
              </p>
              <p class="control">
                <a class="button is-primary" @click="addLabel()">
                  Create label
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      [[ labels.length ]] labels
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>

  <div class="card-content">

    <div class="mb10" v-for="label in labels">
      <div class="level is-mobile mb0">
        <div class="level-left">
          <div class="level-item">
            <p class="subtitle is-5">
              <div class="tags has-addons mb0">
                <span class="tag is-medium"
                  v-bind:style="{ color: label.text_color, 'background-color': label.background_color }">
                  [[ label.text ]]
                </span>
                <span class="tag is-medium">
                  <kbd>
                    [[ shortcutKey(label) | simpleShortcut ]]
                  </kbd>
                </span>
              </div>
            </p>
          </div>
        </div>

        <div class="level-right">
          <p class="level-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="button is-text" @click="editLabel(label)">
                  <span class="icon is-small">
                    <i class="fas fa-pencil-alt"></i>
                  </span>
                  <span>Edit</span>
                </a>
              </p>
              <p class="control">
                <a class="button is-text" @click="removeLabel(label)">
                  <span class="icon is-small">
                    <i class="fas fa-trash"></i>
                  </span>
                  <span>Delete</span>
                </a>
              </p>
            </div>
          </p>
        </div>
      </div>

      <div class="columns" v-show="label===editedLabel">
        <div class="column">
          <div class="field">
            <label class="label">Label name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Text input" v-model="label.text">
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <label class="label">Shortcut</label>
            <div class="field has-addons">
              <p class="control">
                <span class="select">
                  <select v-model="label.prefix_key">
                    <option value=""></option>
                    <option value="ctrl">Ctrl</option>
                    <option value="shift">Shift</option>
                    <option value="ctrl shift">Ctrl + Shift</option>
                  </select>
                </span>
              </p>
              <div class="control">
                <div class="select">
                  <select v-model="label.suffix_key">
                    <option disabled value="">key</option>
                    {% for ch in 'abcdefghijklmnopqrstuvwxyz' %}
                    <option>{{ ch }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <label class="label">Color</label>
            <div class="field has-addons">
              <div class="control">
                <a class="button has-text-white" v-bind:style="{ 'background-color': label.background_color }"
                  @click="setColor(label)">
                  <span class="icon is-small">
                    <i class="fas fa-sync-alt"></i>
                  </span>
                </a>
              </div>
              <div class="control is-expanded">
                <input class="input" type="text" placeholder="Text input" v-model="label.background_color">
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <label class="label">&nbsp;</label>
            <div class="field is-grouped">
              <p class="control">
                <a class="button is-light" @click="cancelEdit(label)">
                  Cancel
                </a>
              </p>
              <p class="control">
                <a class="button is-primary" @click="doneEdit(label)">
                  Save changes
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  {% block footer %}
  {% render_bundle 'label' 'js' %}
  {% endblock %}