{% extends "admin/admin_base.html" %}
{% load static %}
{% block content-area %}

<div class="columns">
  <div class="column is-12">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Machine Learning Model
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div class="card-content columns">
        <div class="column is-8">
            <pre>{{ model_results }}</pre>
        </div>
        <div class="column is-4">
          <h2 class="subtitle" title="This shows your own progress, disregarding work done by other labelers.">Your Annotation Progress</h2>
          <a class="button is-primary" @click="runModel"
             title="Train a Machine Learning model to classify documents based on the documents that were already annotated">
                    Train Machine Learning Model
                </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-8">

    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Top Features
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div class="card-content">
        <vue-good-table
        :columns="classWeightsColumns"
        :rows="classWeightsData"
        :search-options="{
          enabled: true,
          trigger: 'enter'
        }"
        :pagination-options="{
          enabled: true,
          mode: 'pages'
        }"
        >
        </vue-good-table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block footer %}
<script src="{% static 'bundle/ml_model.js' %}"></script>
{% endblock %}