{% extends "admin/admin_base.html" %}
{% load static %}
{% block content-area %}

<div class="card">
  <header class="card-header">
    <div class="card-header-title">
        <h1 class="title">
            User Info - {{ user_name }}
        </h1>

    </div>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>

  <div class="card-content">
      <div class="content">
      <dl>
          <dt>User ID</dt>
          <dd>{{ user_id }}</dd>

          <dt>User name</dt>
          <dd>{{ user_name }}</dd>

          <dt>Email</dt>
          <dd>{{ user_email }}</dd>

          <dt>Labeling speed</dt>
          <dd>{{ user_speed }}</dd>

          <dt>Last annotation</dt>
          <dd>{{ last_annotation }}</dd>

          <dt>Projects assigned</dt>
          <dd>
            {% for project in projects %}
            <p><a href="/projects/{{ project.id }}">{{ project.name }}</a></p>
            {% endfor %}
          </dd>
      </dl>
      </div>
  </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}