{% extends "admin/admin_base.html" %}
{% load static %}
{% block content-area %}
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Users
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <table class="table is-fullwidth is-hoverable">
      <thead>
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {% for user in object_list %}
        <tr>
          <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
          <td><a href="{% url 'user_admin' view.kwargs.project_id user.id%}">{{ user.id }}</a></td>
          <td>{{ user.username }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
{% block footer %}
{% endblock %}