{% extends "admin/admin_base.html" %}
{% load static %}
{% block content-area %}

<div class="card">
  <header class="card-header">
    <div class="card-header-title">
        <h1 class="title">
            User Info - {{ user_name }}
        </h1>

    </div>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>

  <div class="card-content">
      <div class="content">
      <dl>
          <dt>User ID</dt>
          <dd>{{ user_id }}</dd>

          <dt>User name</dt>
          <dd>{{ user_name }}</dd>

          <dt>Email</dt>
          <dd>{{ user_email }}</dd>

          <dt>Labeling speed</dt>
          <dd>{{ user_speed }}</dd>

          <dt>Last annotation</dt>
          <dd>{{ last_annotation }}</dd>

          <dt>Projects assigned</dt>
          <dd>
            <ul>
            {% for project in projects %}
                <li>
                    <a href="/projects/{{ project.id }}">{{ project.name }}</a>
                </li>
            {% endfor %}
            </ul>
          </dd>
      </dl>

      <vue-good-table
      :columns="tableColumns"
      :rows="tableRows"
      :search-options="{
        enabled: true,
        trigger: 'enter'
      }"
      :pagination-options="{
        enabled: true,
        mode: 'pages'
      }">

      <template slot="table-row" slot-scope="props">
          <span v-if="props.column.field == 'topLabel'">
            <span style="font-weight: bold; color: red;" v-if="props.row.topLabel != props.row.groundTruth && props.row.groundTruth">[[ props.row.topLabel ]]</span> 
            <span v-else>[[ props.row.topLabel ]]</span>
          </span>
          <span v-if="props.column.field == 'groundTruth'">
            <span style="font-weight: bold; color: red;" v-if="props.row.topLabel != props.row.groundTruth && props.row.groundTruth">[[ props.row.groundTruth ]]</span> 
            <span v-else>[[ props.row.groundTruth ]]</span>
          </span>
          <span v-if="props.column.field == 'documentId'">
              <a :href="getUrl('{% url 'annotation' view.kwargs.project_id %}', props.row.documentId)">[[ props.row.documentId ]]</a>
          </span>
          <span v-if="props.column.field != 'topLabel' &&  props.column.field != 'groundTruth' &&  props.column.field != 'documentId'">
            [[ props.formattedRow[props.column.field] ]]
          </span>
        </template>

      </vue-good-table>
      </div>
  </div>
</div>
{% endblock %}
{% block footer %}
<script src="{% static 'bundle/user_info.js' %}"></script>
{% endblock %}