interactions:
- request:
    body: '{"query": "\n                query($userName: String!, $orgName: String!,
      $teamName: String!) {\n                    organization(login: $orgName) {\n                        teams(query:
      $teamName, userLogins: [$userName], first: 1) {\n                            nodes
      {\n                                name\n                            }\n                        }\n                    }\n                }\n            ",
      "variables": {"userName": "c-w", "orgName": "CatalystCode", "teamName": "doccano-dev"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    body:
      string: '{"data":{"organization":{"teams":{"nodes":[{"name":"doccano-dev"}]}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v4; format=json
      X-OAuth-Scopes:
      - read:org
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4955'
      X-RateLimit-Reset:
      - '1558377500'
    status:
      code: 200
      message: OK
version: 1
