{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125643874-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-125643874-2');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>doccano - Document Annotation Tool</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" crossorigin="anonymous"
  />
  <link rel="stylesheet" href="{% static 'css/forum.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <!-- favicon settings -->
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicons/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicons/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicons/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicons/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicons/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicons/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicons/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicons/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/favicons/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicons/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'images/favicons/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'images/favicons/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">
  {% block header %}{% endblock %}
</head>

<body>
  <nav class="navbar has-shadow">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'index' %}">
          <img src="{% static 'images/logo.png' %}" width="32" height="32">
          <b>doccano</b>
        </a>
        {% block navigation %}{% endblock %}
      </div>
      <div id="topNav" class="navbar-menu">
        <div class="navbar-end">
          {% if not user.is_authenticated %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <span>Live Demo</span>
            </a>
            <div class="navbar-dropdown">
              <a href="{% url 'demo-text-classification' %}" class="navbar-item">
                Sentiment Analysis
              </a>
              <a href="{% url 'demo-named-entity-recognition' %}" class="navbar-item">
                Named Entity Recognition
              </a>
              <a href="{% url 'demo-translation' %}" class="navbar-item">
                Translation
              </a>
            </div>
          </div>
          <a class="navbar-item" href="https://github.com/chakki-works/doccano">
            <span>GitHub</span>
          </a>
          {% endif %}
          {% if user.is_authenticated %}
          <a class="navbar-item" href="{% url 'projects' %}">
            <span>Projects</span>
          </a>
          {% endif %}
          {% if not user.is_authenticated %}
          <a class="navbar-item" href="{% url 'login' %}">
            <span>Login</span>
          </a>
          {% else %}
          <a class="navbar-item" href="{% url 'logout' %}">
            <span>Logout</span>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}
  
  {% block footer %}{% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
  <script>
    var mySwiper = new Swiper('.swiper-container', {
      // Optional parameters
      loop: true,
      autoplay: {
        delay: 5000,
      },
      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    })
  </script>
</body>
</html>