{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>doccano - Document Annotation Tool</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.6.2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" integrity="sha256-2k1KVsNPRXxZOsXQ8aqcZ9GOOwmJTMoOB5o5Qp1d6/s="
        crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'forum.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% block header %}{% endblock %}
</head>

<body>
    <nav class="navbar has-shadow">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'index' %}">
                    <img src="{% static 'images/logo.png' %}" width="32" height="32">
                    <b>doccano</b>
                </a>
            </div>
            <div id="topNav" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="{% url 'index' %}">
                        <span class="icon is-small">
                            <i class="fas fa-home"></i>
                        </span>
                        <span>&nbsp;Home</span>
                    </a>
                    {% if user.is_authenticated %}
                    <a class="navbar-item" href="{% url 'projects' %}">
                        <span class="icon is-small">
                            <i class="fas fa-people-carry"></i>
                        </span>
                        <span>&nbsp;Projects</span>
                    </a>
                    {% endif %}
                    <!--<a class="navbar-item" href="hoge.html">Live Demo</a>-->
                    <a class="navbar-item" href="https://github.com/chakki-works/doccano">
                        <span class="icon is-small">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>&nbsp;GitHub</span>
                    </a>
                    {% if not user.is_authenticated %}
                    <a class="navbar-item" href="{% url 'login' %}">
                        <span class="icon is-small">
                            <i class="fa fa-user"></i>
                        </span>
                        <span>&nbsp;Login</span>
                    </a>
                    {% else %}
                    <a class="navbar-item" href="{% url 'logout' %}">
                        <span class="icon is-small">
                            <i class="fa fa-user"></i>
                        </span>
                        <span>&nbsp;Logout</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    {% block content %} {% endblock %}

    {% block footer %}{% endblock %}
</body>

</html>