junitxml
.idea
.mypy_cache
.pytest_cache
.vscode
.git
.github
.DS_Store
dist

backend/*.sqlite3*
backend/junitxml
backend/media
backend/filepond-temp-uploads
backend/stored_uploads
backend/staticfiles
backend/venv
backend/**/__pycache__/
backend/.mypy_cache

frontend/.nuxt/
frontend/coverage/
frontend/dist/
frontend/node_modules/
