name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/doccano
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Preparation
        run: |
          mkdir backend/client
      - name: Fix up git URLs
        run: echo -e '[url "https://github.com/"]\n  insteadOf = "git@github.com:"' >> ~/.gitconfig
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'
      - name: Build with Node.js
        run: |
          yarn install
          yarn build
          cp -r dist ../backend/client/
        working-directory: ./frontend
        env:
          PUBLIC_PATH: '/static/_nuxt/'
      - name: Setup Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry poetry-dynamic-versioning
          poetry install
        working-directory: ./backend
      - name: collectstatic
        run: |
          poetry run task collectstatic
        working-directory: ./backend
      - name: Build a binary wheel and a source tarball
        run: |
          sed -e "s/, from = \"..\"//g" backend/pyproject.toml > pyproject.toml
          poetry build
      - name: Publish a Python distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          packages_dir: ./dist/
